extends ../layout

block content 
  .mt-4 
    .container.border.rounded.p-4
      h1 Login
      form(action="/auth/login" method='POST')
        .form-group 
          label(for="username") Username
          input.form-control#username(type="text" name="username" required)
        .form-group 
          label(for="password") Password 
          input#password.form-control(type="password" name="password" required)
        .form-group.mt-2 
          button(type="submit").btn.btn-dark Submit