nav.nav-extended.black
  .nav-wrapper
    a.brand-logo.left.hide-on-med-and-down Home
    a(data-target='mobile-nav' href='#').sidenav-trigger.hide-on-small-and-up
      <i class='material-icons'>menu</i>
    ul.right.hide-on-med-and-down
      li
        a(href="") Home
      li
        a(href="/products") Products
      li
        a(href="/collections") Collections
ul.sidenav#mobile-nav 
  li
    a(href="/") Home
  li
    a(href="/products") Products
  li
    a(href="/collections") Collections
